{%extends 'ticketsbase.html'%}
{%block title%} Tickets Base {%endblock%}
{%block body%}
    {{block.super}}

    <h2>To do</h2>
    <form method="post" action="">
        {%csrf_token%}
        {%for ticket in tickets%}
            <label>
            <div class="card text-dark bg-secondary mb-3" style="width: 18rem; height: 18rem;">
                <div class="card-body"style="color:white">
                    <i>ID:{{ticket.id}}</i></br>
                    <b>Title: {{ticket.title}}</b></br>
                    <p>Description: {{ticket.description}}</p>
                    <p>Orders: {{ticket.who}}</p>
                     <p>Made: {{ticket.made}}</p>
                    {%if user.is_superuser and ticket.assigned_to == None%}
                            <select name="assigned_to">
                                {%for uid in userids %}
                                <option value="{{ uid.id }}">{{ uid.username }}</option>
                                {%endfor%}
                            </select></br>
                            <input type="checkbox" name="tickets" value="{{ ticket.id }}"></br>
                    {%elif ticket.assigned_to != None%}
                        <p>Takes: {{ticket.assigned_to}}</p>
                    {%elif user.is_authenticated  and ticket.assigned_to == None%}
                        <input type="checkbox" name="tickets" value="{{ ticket.id }}"></br>
                    {%endif%}
                    
                </div>
            </div>
            </label>
        {%endfor%}
        <br/><button type="submit" class="btn btn-primary">Get</button> 
    </form>
    <h2>Orders</h2>
    {%for tk in ticket%}
        <label>
            <div class="card text-dark bg-secondary mb-3" style="width: 18rem; height: 18rem;">
                <div class="card-body" style="color:white">
                    <i>ID:{{tk.id}}</i><br/>
                    <b>Title: {{tk.title}}</b>
                    <p>Description: {{tk.description}}</p>
                    <p>Made: {{tk.made}}</p>
                    <p>Department: {{tk.departament}}</p>
                    {%if tk.assigned_to != None%}
                        <p>Takes: {{tk.assigned_to}}</p>
                    {%else%}   
                        <p>Takes:
                    {%endif%}
                </div>
            </div>
        </label>        
    {%endfor%}
{%endblock%}