{%extends 'base.html'%}
{%block title%} Not Completed {%endblock%}
{%block body%}

    <form method="post" action="">
        {%csrf_token%}
        {%for quest in quests%}
            <label>
            <div class="card" style="width: 18rem; height: 18rem;">
                <div class="card-body">
                    <b class="card-title">{{quest.title}}</b></br>
                    <p class="card-text">{{quest.description}}</br></p>
                    {{quest.dead_line}}</br></br>
                    <textarea name="comment_{{quest.id}}" rows="4"cols="25"maxlength="100"></textarea></br>
                    <input type="checkbox" name="quests" value="{{quest.id}}"></br>
                </div>
            </div>
            </label>
        {%endfor%}
        </br><button type="submit" class="btn btn-primary">Send</button>
    </form> 
{%endblock%}