{%extends 'base.html'%}
    {% block title %}Todo Tasks {%endblock%}
{%block body%}
    <form method="post" action="">
        {% csrf_token %}
        <h2>Quest</h2>
        {% for quest in quests %}
        <label>
            {%if quest.dead_line == today%}
                <div class="card" style="width: 18rem; height: 18rem;">
                    <div class="card-body">
                        <b class="card-title">{{quest.title}}</b><br/>
                        <p class="card-text">{{quest.description}}<br/>
                        {{quest.dead_line}}<br/><br/>
                        <textarea name="comment_{{quest.id}}"rows="4" cols="25" maxlength="100"></textarea><br/>
                        <input type="checkbox", name="quests", value="{{ quest.id }}"><br/>
                    </div>
                </div>
            {%endif%}
        </label>

        {%endfor%}
        <h2>Tickets</h2>
        {%for ticket in tickets%}
        <label>
            <div class="card" style="width: 18rem; height: 18rem;">
                <div class="card-body">
                    <i>{{ticket.id}}</i><br/>
                    <b class="card-title">{{ticket.title}}</b><br/>
                    <p class="card-text">{{ticket.description}}</p>
                    <p>{{ticket.who}}</p>
                    <input type="checkbox", name="tickets", value="{{ ticket.id }}"><br/>
                </div>
            </div>
        </label>
        {%endfor%}
    </br><button type="submit" class="btn btn-primary">Send</button>
    </form>
{%endblock%}